


.shop-section{
    background-color: rgb(232, 232, 217);
}

.box{
    border: none ;
    height:450px;
    width:100%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    align-items: center;
    margin-right:20px;
}

.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}



.box-img{
    height:400px;
    width:30%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}