*{
    margin:0;
    border: border-box;
    margin: 0;
    padding:0;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}


html{
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

.navbar{
    height:80px;
    background-color: rgba(255, 255, 255, 0.904);
    color: #eb5353;
    display:flex; /*to manage all navigation bar item in a same line*/
    align-items: center;
    justify-content: space-evenly; /*space all the content evenly*/
    border-color: #eb5353;
    margin-bottom: 22px;
}

.navbar-home a{
   font-size:19px ;

   color: #eb5353;
   
}

.navbar-home a:hover{
    color: red;
}

.navbar-about a{
   font-size:19px ;
   color: #eb5353;
   
}

.navbar-about a:hover{
  color: red;
}

.nav-logo{
    height:50px;
    width:100px;
    margin-right: 0.5rem;
}

.logo{
    background-image: url("logo.png"); /*to add logo image*/
    background-size: cover;
    height:100px;
    width:100px;
}


.address-icon{
    display:flex;
    height:17px ;
    width:20px;
    margin-left:0.5rem;
}

.deliver{
    color:red;
    font-size: 16px;
    display:flex;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}

.address{
    font-size: 18px;
    margin-left: 0.5rem;
}

.nav-search{
    display:flex;
    background-color: #eb5353;
    margin-left:1rem;
    width:620px;
    height:40px;
    border-radius: 14px;
    justify-content: space-evenly;
}

.nav-search:hover{
    border: 2px solid red;
}

.search-select{
    font-size: 14px;
    width:50px;
    text-align: center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: #f3f3f3;
    border:none;
}

.search-select option{
    color:#eb5353;
}

.search-input{
    width:100%;
    font-size: 14px;
    border:none;
}

.search-icon{
    width:45px;
    display:flex;
    color:black;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}

.search-icon:hover{
    background-color: red;
}

.nav-first{
    font-size:0.7rem;
}

.nav-second{
    font-size:0.9rem;
}

.nav-signin i{
    margin-left:0.2rem;
    color : #eb5353;
}

.nav-signin i:hover{
    color: red;
}

.nav-cart i{
    font-size: 30px;
    color:#eb5353;
}

.nav-cart i:hover{
    color: red;
}


.shop-section{
    display:flex;
    justify-content: space-evenly;
    background-color: rgb(232, 232, 217);
}

.box{
    border: 2px solid black ;
    height:300px;
    width:28%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-content{
  margin-left: 1rem;
  margin-right: 1rem;
}

.box h2{
    text-align: center;
    color:#eb5353;
    font-size: 18px;
}

.box-img{
    height:180px;
    width:100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}



.hero-section{
  background-image: url("clothes.png");
  background-size: cover;
  height:504px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  margin-top: 22px;
}
.wrapper{
  position: relative;
  width: 350px;
  height: 420px;
  background: transparent;
  border: 2px solid #eb5353cc;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0 0 0 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  transform: scale(0);
  transition: transform .5s ease,height .2s ease;
}
.wrapper.active-popup{
  transform: scale(1);
}
.wrapper.active{
  height: 400px;
}
.wrapper .form-box{
  width: 100%;
  padding: 40px;
}
.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}
.wrapper .form-box.login{
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper .form-box.register{
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
.wrapper.active .form-box.register{
  transition: transform .18s ease;
  transform: translateX(0);
}
.wrapper .icon-close{
  position: absolute;
  top: 0;
  right: 0;
  width: 35px;
  height: 35px;
  font-size: 1.5em;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
.form-box h2{
  font: 2em;
  color: #000000;
  text-align: center;
}
.input-box{
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 20px 0;
}
.input-box label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: .4s;
}
.input-box input:focus~label,
.input-box input:valid~label{
  top:5px;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: none;
  font-weight: 500;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: black;
  line-height: 55px;
}
.remember-forgot{
  font-size: 0.9em;
  color: black;
  font-weight: 500;
  margin: -5px 0 20px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input{
  accent-color: black;
  margin-right: 3px;
}
.remember-forgot a{
  color: black;
  text-decoration: none;
}
.remember-forgot a:hover{
  text-decoration: underline;
}
.btn{
  width: 100%;
  height: 50px;
  background-color: #eb5353;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  font-weight: 500;
}
.register{
  font-size: .9em;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.register p a{
    color: #eb5353;
    text-decoration: none;
    font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}